<div class="lists-width">

    <div class="search-div">
        <br>
        <div class="search-div"> Select a category to search:
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="pickedOrdercategory">
                <mat-radio-button color="primary" class="example-radio-button" *ngFor="let medorder of medorderCategory" [value]="medorder" (change)="radiochangedHandler($event)">
                    {{medorder}}
                </mat-radio-button>
            </mat-radio-group>
        </div>
        <button mat-raised-button disabled>
        <mat-icon>add</mat-icon>Create
    </button>
        <mat-form-field class="search-form-field" floatLabel="never">
            <input matInput [(ngModel)]="ordersearchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
            <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="ordersearchKey" (click)="onSearchClear()"><mat-icon>close</mat-icon></button>
        </mat-form-field>
        <button mat-button color="primary" (click)="saveCart()"><mat-icon>save</mat-icon></button>
    </div>

    <div class="mat-elevation-z8">
        <mat-table [dataSource]="listMedOrders" matSort>
            <ng-container matColumnDef="medorder_title">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Title</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.medorder_title}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="medorder_category">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Category</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.medorder_category}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="medorder_description">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Description</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.medorder_description}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="testID">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Test ID</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.testID}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                <mat-cell *matCellDef="let row" class="action-icon">
                    <button mat-icon-button (click)="add2MyFavorite(row)"><mat-icon>favorite_border</mat-icon></button>
                    <button mat-icon-button><mat-icon>launch</mat-icon></button>
                    <button mat-icon-button color="warn"><mat-icon>delete_outline</mat-icon></button>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="loading">
                <mat-footer-cell *matFooterCellDef colspan="6">
                    Loading data or waiting for category selection ...
                </mat-footer-cell>
            </ng-container>
            <ng-container matColumnDef="noData">
                <mat-footer-cell *matFooterCellDef colspan="6">
                    No data.
                </mat-footer-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="MeddisplayColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: MeddisplayColumns;"></mat-row>
            <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listMedOrders!=null}"></mat-footer-row>
            <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listMedOrders!=null && listMedOrders.data.length==0)}"></mat-footer-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[5,10,25,50,100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
    </div>
</div>