<form [formGroup]="service.form" class="normal-form" (submit)="onSubmit()">
    <mat-grid-list cols="1" rowHeight="300px">
        <mat-grid-tile>
            <div class="controls-container">
                <input type="hidden" formControlName="$key">
                <mat-form-field>
                    <input formControlName="Name" matInput placeholder="Test name" required>
                    <mat-error>This field is required</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="Type" matInput placeholder="Test type" required>
                    <mat-error>This field is required</mat-error>

                </mat-form-field>
                <mat-form-field>
                    <mat-select formControlName="Department" placeholder="Test department">
                        <mat-option>None</mat-option>
                        <ng-container *ngFor="let department of departments">
                            <mat-option value="{{department.id}}">{{department.value}}</mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
                <div class="add-bottom-padding">
                    <mat-checkbox color="primary" formControlName="isActive">Test is active</mat-checkbox>
                </div>
                <div class="button-row">
                    <button mat-raised-button color="primary" type="submit" [disabled]="service.form.invalid">Submit</button>
                    <button mat-raised-button color="warn" (click)=onClear()>Clear</button>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</form>

<div class="mat-elevation-z8">
    <mat-table [dataSource]="myTests" matSort>
        <ng-container matColumnDef="Name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Test Name</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.Name}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="Type">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.Type}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="Department">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Department</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.Department}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="isActive">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Active?</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.isActive}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let row of" class="action-icon">
                <button mat-icon-button color="warn" (click)="removeTest(row)"><mat-icon>delete_outline</mat-icon></button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayColumns;"></mat-row>
        <!-- <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':myTests!=null}"></mat-footer-row>
        <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(myTests!=null && myTests.data.length==0)}"></mat-footer-row> -->

    </mat-table>
    <mat-paginator [pageSizeOptions]="[5,10,25,50,100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
</div>
<div>
    <button mat-raised-button color="primary" type="submit" (click)="saveTests()">Save Tests</button>

</div>