<div class="container">
    <mat-toolbar>
        <span>{{visitService.form.controls['id'].value?"Update Visit":"New Visit"}}</span>
        <span class="fill-remaining-space"></span>
        <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabindex="-1"><mat-icon>clear</mat-icon></button>
    </mat-toolbar>

</div>
<form [formGroup]="visitService.form" class="normal-form" (ngSubmit)="onSubmit()">

    <div class="example-full-width">

        <!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
                {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
              </button> -->
        <mat-vertical-stepper #stepper>
            <mat-step [stepControl]="visitService.form">
                <form [formGroup]="visitService.form">
                    <ng-template matStepLabel>Fill out patient information</ng-template>
                    <mat-form-field class="example-full-width">
                        <mat-label>Name</mat-label>
                        <input matInput placeholder="Last name, First name " formControlName="patientName" required>
                    </mat-form-field>
                    <div class="example-full-width">
                        <div class="add-bottom-padding">
                            <mat-radio-group color="primary" formControlName="patientGender">
                                <mat-radio-button value="1">Male</mat-radio-button>
                                <mat-radio-button value="2">Female</mat-radio-button>
                                <mat-radio-button value="3">Other</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <mat-form-field class="example-full-width">
                        <mat-label>Age</mat-label>
                        <input matInput placeholder="Patient's Age " formControlName="patientAge" required>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>Gender</mat-label>
                        <input matInput placeholder="Patient's Gender " formControlName="patientGender" required>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>Mobile</mat-label>
                        <input formControlName="patientMobile" matInput placeholder="Patient's Mobile">
                        <mat-error *ngIf="visitService.form.controls['patientMobile'].errors?.minlength">Must be at least 11 digits</mat-error>
                        <mat-error *ngIf="visitService.form.controls['patientMobile'].errors?.pattern">Correct format: ex. 0712 345 6789</mat-error>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-select formControlName="patientBloodGroup" placeholder="Blood Group" required>
                            <mat-option>None</mat-option>
                            <ng-container *ngFor="let bloodgroup of bloodgroups">
                                <mat-option value="{{bloodgroup.bg_id}}">{{bloodgroup.value}}</mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>Patient Illness</mat-label>
                        <textarea formControlName="patientLongtermIllness" matInput placeholder="Patient Longterm Illness"></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>Medicines</mat-label>
                        <textarea formControlName="patientLongtermMedicine" matInput placeholder="Patient Longterm Medicine"></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>Description</mat-label>
                        <textarea formControlName="visitDescription" matInput placeholder="Short Case Description"></textarea>
                    </mat-form-field>
                    <div class="add-bottom-padding">
                        <mat-checkbox formControlName="isClosed">Close this visit after submit</mat-checkbox>
                    </div>
                    <div>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="visitService.visitForm">
                <form [formGroup]="visitService.visitForm">
                    <ng-template matStepLabel>Fill out visit information</ng-template>
                    <div class="font-size-style">
                        <p>
                            <strong>Visit Date: </strong> Sunday, July 26, 2020
                        </p>
                        <p>
                            <strong>Doctor: </strong> Dr. Ibrahim Amin
                        </p>
                        <p>
                            <strong>Doctor and Clinic: </strong> Dr. Ibrahim Amin | THE CLINIC NAME
                        </p>
                    </div>
                    <mat-form-field class="example-full-width">
                        <mat-select formControlName="visitStatus" placeholder="Visit Status" required>
                            <mat-option>None</mat-option>
                            <ng-container *ngFor="let status of visitstatus">
                                <mat-option value="{{status.vs_id}}">{{status.value}}</mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="visitService.notesForm">
                <form [formGroup]="visitService.notesForm">
                    <ng-template matStepLabel>Add notes to this visit</ng-template>
                    <mat-form-field class="example-full-width">
                        <mat-label>Note</mat-label>
                        <textarea matInput placeholder="Doctor's Note " formControlName="shortNote" required></textarea>

                    </mat-form-field>
                    <div class="form-btn-align">
                        <button mat-raised-button color="primary" type="submit" [disabled]="visitService.notesForm.invalid">Add</button>
                    </div>
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="visitService.ordersForm">
                <form [formGroup]="visitService.ordersForm" (ngSubmit)="addOrder()">
                    <ng-template matStepLabel>Add orders to this visit</ng-template>
                    <mat-form-field class="example-full-width">
                        <input type="text" placeholder="Pick a test or procedure" aria-label="Number" matInput [formControl]="orderControl" [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let option of filteredOrders | async" [value]="option.order_title" (onSelectionChange)="populateOrder(option)" required>
                                <span>{{option.order_title}}</span> |
                                <small>Order type: {{option.order_type}}</small> |
                                <small>Order category: {{option.order_category}}</small>
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>Order title</mat-label>
                        <input matInput placeholder="Order title" formControlName="order_title" required>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>Order type</mat-label>
                        <input matInput placeholder="Order type" formControlName="order_type">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>Order category</mat-label>
                        <input matInput placeholder="Order category" formControlName="order_category">
                    </mat-form-field>
                    <div class="form-btn-align">
                        <button mat-raised-button color="primary" type="submit">Add</button>
                    </div>

                    <div class="mat-elevation-z8">
                        <mat-table [dataSource]="orders" matSort>
                            <ng-container matColumnDef="order_title">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Title</mat-header-cell>
                                <mat-cell *matCellDef="let element ">{{element.order_title}}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="order_type">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
                                <mat-cell *matCellDef="let element ">{{element.order_type}}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="order_category">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Category</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.order_category}}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="actions">
                                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                                <mat-cell *matCellDef="let row" class="action-icon">
                                    <button mat-icon-button color="warn" (click)="removeTest(row)"><mat-icon>delete_outline</mat-icon></button>
                                </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayorderColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayorderColumns;"></mat-row>
                            <!-- <mat-footer-row *matFooterRowDef="[ 'loading'] " [ngClass]="{ 'hide':orders!=null} "></mat-footer-row> -->
                            <!-- <mat-footer-row *matFooterRowDef="[ 'noData'] " [ngClass]="{ 'hide':!(orders!=null && orders.data.length==0)} "></mat-footer-row> -->
                        </mat-table>
                        <!-- <mat-paginator [pageSizeOptions]="[5,10,25,50,100] " [pageSize]="5 " showFirstLastButtons></mat-paginator> -->
                    </div>
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="visitService.prescriptionsForm ">
                <form [formGroup]="visitService.prescriptionsForm ">
                    <ng-template matStepLabel>Add prescriptions to this visit</ng-template>
                    <mat-form-field class="example-full-width ">
                        <mat-label>genericName</mat-label>
                        <textarea matInput placeholder="Doctor 's Note " formControlName="genericName" required></textarea>
                        <button mat-icon-button matSuffix mat-icon-button aria-label="Clear">
                            <mat-icon>note_add</mat-icon>
                          </button>
                    </mat-form-field>
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Done</ng-template>
                <p>You are now done.</p>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button (click)="stepper.reset()">Reset</button>
                </div>
            </mat-step>
        </mat-vertical-stepper>
    </div>

</form>