<div class="container">
    <mat-toolbar>
        <span>{{visitService.form.controls['id'].value?"Update Visit":"New Visit"}}</span>
        <span class="fill-remaining-space"></span>
        <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabindex="-1"><mat-icon>clear</mat-icon></button>
    </mat-toolbar>
</div>
<form [formGroup]="visitService.form" class="normal-form" (ngSubmit)="onSubmit()">

    <div class="example-full-width">
        <!-- 
        <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
                {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
              </button> -->
        <ng-template matStepLabel>Fill out patient information</ng-template>
        <mat-form-field class="example-full-width">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Last name, First name " formControlName="patientName" required>
        </mat-form-field>
        <div class="example-full-width">
            <div class="add-bottom-padding">
                <div class="add-bottom-padding">
                    <mat-label>Gender</mat-label>
                </div>
                <mat-radio-group color="primary" formControlName="patientGender">
                    <mat-radio-button value="M">Male</mat-radio-button>
                    <mat-radio-button value="F">Female</mat-radio-button>
                    <mat-radio-button value="O">Other</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <mat-form-field class="example-full-width">
            <mat-label>Age</mat-label>
            <input matInput placeholder="Patient's Age " formControlName="patientAge" required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Mobile</mat-label>
            <input formControlName="patientMobile" matInput placeholder="Patient's Mobile">
            <mat-error *ngIf="visitService.form.controls['patientMobile'].errors?.minlength">Must be at least 11 digits</mat-error>
            <mat-error *ngIf="visitService.form.controls['patientMobile'].errors?.pattern">Correct format: ex. 0712 345 6789</mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-select formControlName="patientBloodGroup" placeholder="Blood Group" required>
                <mat-option>None</mat-option>
                <ng-container *ngFor="let bloodgroup of bloodgroups">
                    <mat-option value="{{bloodgroup.bg_id}}">{{bloodgroup.value}}</mat-option>
                </ng-container>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Patient Illness</mat-label>
            <textarea formControlName="patientLongtermIllness" matInput placeholder="Patient Longterm Illness"></textarea>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Medicines</mat-label>
            <textarea formControlName="patientLongtermMedicine" matInput placeholder="Patient Longterm Medicine"></textarea>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Impressions</mat-label>
            <textarea formControlName="visitDescription" matInput placeholder="Preliminary impressions"></textarea>
        </mat-form-field>
        <div class="add-bottom-padding">
            <mat-checkbox formControlName="isClosed">Close this visit after submit</mat-checkbox>
        </div>
    </div>
    <button mat-raised-button color="primary" type="submit" [disabled]="visitService.form.invalid">Submit</button>
</form>