<html>

<head>
    <meta charset="UTF-8" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/src/styles.css" />
</head>

<body>
    <div>

        <mat-card class="visitcard">
            <mat-card-header>
                <mat-card-title> ناوی نەخۆش عبدالله عبدالفتاح عبدالسمد عیسا</mat-card-title>
                <mat-card-subtitle>چاوەروانی (٤٥ خولەک)</mat-card-subtitle>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content>
                <p> زانیاری پێویست لەسەر نەخۆشەکە زانیاری پێویست لەسەر نەخۆشەکە زانیاری پێویست لەسەر نەخۆشەکە زانیاری پێویست لەسەر نەخۆشەکە زانیاری پێویست لەسەر نەخۆشەکە زانیاری پێویست لەسەر نەخۆشەکە زانیاری پێویست لەسەر نەخۆشەکە</p>

            </mat-card-content>
            <br>

            <mat-card-actions class="tr-back">
                <div class="btn-align">
                    <button mat-stroked-button color="primary">View</button>
                    <button mat-stroked-button color="primary">Edit</button>
                    <button mat-stroked-button color="primary">Delete</button>
                </div>
            </mat-card-actions>
        </mat-card>

        <mat-card class="visitcard">
            <mat-card-header>
                <mat-card-title>Patient Name</mat-card-title>
                <mat-card-subtitle>Waiting (45mins.)</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
                <p> This is the whole content</p>
            </mat-card-content>
            <br>

            <mat-card-actions class="tr-back">
                <div class="btn-align">
                    <button mat-stroked-button color="primary">View</button>
                    <button mat-stroked-button color="primary">Edit</button>
                    <button mat-stroked-button color="primary">Delete</button>
                </div>
            </mat-card-actions>
        </mat-card>


        <mat-card class="visitcard">
            <mat-card-header>
                <mat-card-title>Patient Name</mat-card-title>
                <mat-card-subtitle>Waiting (45mins.)</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
                <p> This is the whole content</p>
            </mat-card-content>
            <br>

            <mat-card-actions class="tr-back">
                <div class="btn-align">
                    <button mat-stroked-button color="primary">View</button>
                    <button mat-stroked-button color="primary">Edit</button>
                    <button mat-stroked-button color="primary">Delete</button>
                </div>
            </mat-card-actions>
        </mat-card>

        <mat-card class="visitcard">
            <mat-card-header>
                <mat-card-title>Patient Name</mat-card-title>
                <mat-card-subtitle>Waiting (45mins.)</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
                <p> This is the whole content</p>
            </mat-card-content>
            <br>

            <mat-card-actions class="tr-back">
                <div class="btn-align">
                    <button mat-stroked-button color="primary">View</button>
                    <button mat-stroked-button color="primary">Edit</button>
                    <button mat-stroked-button color="primary">Delete</button>
                </div>
            </mat-card-actions>
        </mat-card>

        <mat-card class="visitcard">
            <mat-card-header>
                <mat-card-title>Patient Name</mat-card-title>
                <mat-card-subtitle>Waiting (45mins.)</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
                <p> This is the whole content</p>
            </mat-card-content>
            <br>

            <mat-card-actions class="tr-back">
                <div class="btn-align">
                    <button mat-stroked-button color="primary">View</button>
                    <button mat-stroked-button color="primary">Edit</button>
                    <button mat-stroked-button color="primary">Delete</button>
                </div>
            </mat-card-actions>
        </mat-card>

        <mat-card class="visitcard">
            <mat-card-header>
                <mat-card-title>Patient Name</mat-card-title>
                <mat-card-subtitle>Waiting (45mins.)</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
                <p> This is the whole content</p>
            </mat-card-content>
            <br>

            <mat-card-actions class="tr-back">
                <div class="btn-align">
                    <button mat-stroked-button color="primary">View</button>
                    <button mat-stroked-button color="primary">Edit</button>
                    <button mat-stroked-button color="primary">Delete</button>
                </div>
            </mat-card-actions>
        </mat-card>

        <mat-card class="visitcard">
            <mat-card-header>
                <mat-card-title>Patient Name</mat-card-title>
                <mat-card-subtitle>Waiting (45mins.)</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
                <p> This is the whole content</p>
            </mat-card-content>
            <br>

            <mat-card-actions class="tr-back">
                <div class="btn-align">
                    <button mat-stroked-button color="primary">View</button>
                    <button mat-stroked-button color="primary">Edit</button>
                    <button mat-stroked-button color="primary">Delete</button>
                </div>
            </mat-card-actions>
        </mat-card>

        <mat-card class="visitcard">
            <mat-card-header>
                <mat-card-title>Patient Name</mat-card-title>
                <mat-card-subtitle>Waiting (45mins.)</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
                <p> This is the whole content</p>
            </mat-card-content>
            <br>

            <mat-card-actions class="tr-back">
                <div class="btn-align">
                    <button mat-stroked-button color="primary">View</button>
                    <button mat-stroked-button color="primary">Edit</button>
                    <button mat-stroked-button color="primary">Delete</button>
                </div>
            </mat-card-actions>
        </mat-card>
    </div>
</body>

</html>