<div>
    <form #frm="ngForm" (ngSubmit)="onSubmit(frm)" novalidate>

        <mat-form-field class="example-form">
            <mat-label>Seq.</mat-label>
            <input matInput name="id" ngModel="{{rad_id}}" #id="ngModel">
        </mat-form-field>
        <mat-form-field class="example-form">
            <mat-label>Radiology Examination</mat-label>
            <input matInput name="rad_name" ngModel placeholder="Radiology Examination:" #rad_name>
        </mat-form-field>
        <div class="alignright">
            <button mat-stroked-button color="primary" type="submit" (click)="openSnackBar(id.value+'-'+rad_name.value, 'Added')">ADD</button>
        </div>
    </form>
</div>

<div class="mat-elevation-z8" *ngIf="dataSource.data.length > 0">
    <table mat-table class="full-width-table" matSort aria-label="Elements">

        <!-- Dynamic Column Listing -->
        <ng-container matColumnDef={{column}} *ngFor='let column of displayedColumns'>
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{column}}</th>
            <td mat-cell *matCellDef="let row">{{row[column]}}</td>
        </ng-container>

        <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr> -->
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="tbl-data"></tr>

    </table>

    <mat-paginator #paginator [length]="dataSource?.data.length" [pageIndex]="0" [pageSize]="50" [pageSizeOptions]="[25, 50, 100, 250]">
    </mat-paginator>
</div>

<div *ngIf="dataSource.data.length < 1">
    <h3>You have not made any radiology orders yet!</h3>
</div>