<html>

<body>
    <div>
        <!-- <app-login></app-login> -->
        <app-toolbar></app-toolbar>
        <!-- <app-listvisits></app-listvisits>
        <app-createvisit></app-createvisit> -->
        <!-- <app-encounter></app-encounter> -->
        <!-- <app-lab-order></app-lab-order>
        <app-rad-order></app-rad-order>-->
        <!-- <app-prescription></app-prescription> -->
        <!-- <app-testform></app-testform> -->
    </div>

    <div>
        <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
            <mat-tab label="New Visit">
                <!-- <app-createvisit></app-createvisit> -->
                <app-test></app-test>
            </mat-tab>
            <mat-tab label="Encounter">
                <app-encounter></app-encounter>
            </mat-tab>
            <mat-tab label="List">
                <app-listvisits></app-listvisits>
            </mat-tab>
            <mat-tab label="View">
                <app-tests></app-tests>
            </mat-tab>
            <mat-tab label="Report"> Report Content 3 </mat-tab>
            <mat-tab label="View"> View Content 3 </mat-tab>
            <mat-tab label="Report"> Report Content 3 </mat-tab>

        </mat-tab-group>
    </div>

</body>

</html>