<html>

<body>
    <div>
        <!-- <app-login></app-login> -->
        <app-toolbar></app-toolbar>
        <!-- <app-listvisits></app-listvisits>
        <app-createvisit></app-createvisit> -->
        <!-- <app-encounter></app-encounter> -->
        <!-- <app-lab-order></app-lab-order>
        <app-rad-order></app-rad-order>-->
        <!-- <app-prescription></app-prescription> -->
        <!-- <app-testform></app-testform> -->
    </div>

    <div>
        <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">

            <mat-tab label="Appointment">
                <app-appointments></app-appointments>
            </mat-tab>
            <!-- <mat-tab label="Order List">
                <app-order></app-order>
            </mat-tab> -->
            <mat-tab label="Visits">
                <app-visits></app-visits>
            </mat-tab>
            <mat-tab label="Medical Orders">
                <app-orders></app-orders>
            </mat-tab>
            <mat-tab label="Prescriptions">
                <app-prescriptions></app-prescriptions>
            </mat-tab>

        </mat-tab-group>
    </div>

</body>

</html>