<div class="lists-width">
    <div class="search-div">
        <button mat-raised-button disabled>
        <mat-icon>add</mat-icon>Create
    </button>
        <mat-form-field class="search-form-field" floatLabel="never">
            <input matInput [(ngModel)]="drugsearchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
            <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="drugsearchKey" (click)="onSearchClear()"><mat-icon>close</mat-icon></button>
        </mat-form-field>
    </div>


    <div class="mat-elevation-z8">
        <mat-table [dataSource]="listOfDrugs" matSort>
            <ng-container matColumnDef="generic_name">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Generic Name</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.generic_name}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="strength">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Strength</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.strength}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="ingredient">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Ingredient</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.ingredient}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="dosage_form">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Dosage Form</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.dosage_form}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="route">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Route</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.route}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let row" class="action-icon">
                    <button mat-icon-button (click)="add2FavDrugs(row)"><mat-icon>star_border</mat-icon></button>
                    <button mat-icon-button><mat-icon>launch</mat-icon></button>
                    <button mat-icon-button color="warn"><mat-icon>delete_outline</mat-icon></button>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="loading">
                <mat-footer-cell *matFooterCellDef colspan="6">
                    Loading data...
                </mat-footer-cell>
            </ng-container>
            <ng-container matColumnDef="noData">
                <mat-footer-cell *matFooterCellDef colspan="6">
                    No data.
                </mat-footer-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="drugsDisplayColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: drugsDisplayColumns;"></mat-row>
            <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listOfDrugs!=null}"></mat-footer-row>
            <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listOfDrugs!=null && listOfDrugs.data.length==0)}"></mat-footer-row>

        </mat-table>
        <mat-paginator [pageSizeOptions]="[5,10,25,50,100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
    </div>
</div>