<div class="container">
    <mat-toolbar>
        <span class="fill-remaining-space">
    </span>
        <span>
        Drugs
    </span>
        <span class="fill-remaining-space">
    </span>
    </mat-toolbar>
</div>

<div *ngIf="drugAdmin == true; else noAccess">
    <app-drug-list></app-drug-list>
</div>

<ng-template #noAccess>
    <h3 style="font-style: italic; text-align: center;">
        <p style="color: red;"> You do not have sufficiant permissions.</p>
    </h3>
</ng-template>

<div style="text-align:center; color: rgb(177, 174, 174)">©2020 by Sapient Technology.</div>