body {
    display: flexbox;
    flex-direction: column;
    flex-grow: 1;
    margin: auto;
    width: 98%;
    height: auto;
    background: #ffffff;
    align-self: stretch;
}

.example-card {
    margin-top: 5px;
    max-width: 100%;
    height: auto;
    background: #ffffff;
    justify-content: space-between;
    align-self: stretch;
}

.visitcard {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: auto;
    margin: 1px;
    max-width: 100%;
    background: #f4f5f7;
    font-weight: normal;
    justify-content: space-between;
    align-self: stretch;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.alignright {
    margin: 15px;
    text-align: center;
}

.example-form {
    align-self: center;
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

td {
    padding-right: 8px;
}

.mat-radio-button~.mat-radio-button {
    margin-left: 16px;
}

.btn-align {
    align-self: flex-end;
}