<div class="container">
    <mat-toolbar>
        <span class="fill-remaining-space">
    </span>
        <span>
        Available Medical Drugs
    </span>
        <span class="fill-remaining-space">
    </span>
    </mat-toolbar>
</div>
<div>
    <app-drugs-favourites></app-drugs-favourites>
</div>

<div class="container">
    <mat-toolbar>
        <span class="fill-remaining-space">
    </span>
        <span>
        Available Medical Orders
    </span>
        <span class="fill-remaining-space">
    </span>
    </mat-toolbar>
</div>
<div>
    <!-- <app-medorders-favourites></app-medorders-favourites> -->
</div>
<div style="text-align:center; color: rgb(177, 174, 174)">©2020 by Sapient Technology.</div>