.full-width-table {
    width: 100%;
}

.data-table {
    width: 90%;
    margin: 10px auto;
    font-style: normal;
    font-weight: lighter;
    font-size: 9pt;
}

.example-form {
    min-width: 50px;
    margin: 10px;
}