body {
    display: flexbox;
    flex-direction: column;
    flex-grow: 1;
    margin: auto;
    width: 98%;
    height: auto;
    background: #ffffff;
    align-self: stretch;
}

.example-card {
    margin-top: 5px;
    max-width: auto;
    height: fit-content;
    background: #ffffff;
    background: #ffffff;
    justify-content: space-between;
    align-self: stretch;
}

.visitcard {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: auto;
    margin: 10px;
    max-width: 100%;
    background: #f4f5f7;
    font-weight: normal;
    justify-content: space-between;
    align-self: stretch;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.action {}

.alignright {
    margin: 15px;
    text-align: center;
}

.mat-form-field {
    margin: 16px;
}

.example-form {
    min-width: 250px;
}