/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
}
body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: 'Lato', 'sans-serif';
    font-weight: 700;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    color: #555;
    background: #ecf0f3;
}

html, body {
    width: auto;
}
